<h1>Welcome players</h1>

<%= $game.player_1.name %> vs <%= $game.player_2.name %><br>

<%= $game.player_2.name %>'s HP is <%= $game.player_2.hitpoints %><br>

Player turn: <%= $game.player_1.name%>

<form action="/attack" method="post">
<button type="submit">Attack <%=$game.player_2.name%></button>
</form>

<%= @attack_confirmation %>