<h1>Welcome players</h1>

<%= @player_1 %> vs <%= @player_2 %><br>

<%= @player_2 %>'s HP is <%= @p2_hitpoints %><br>

<form action="/attack" method="post">
<button type="submit">Attack <%=@player_2%></button>
</form>

<%= @attack_confirmation %>